.parent-container {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.center-div {
    width: 35%;
    border: 1px solid black;
    /* Add border styling */
    padding: 10px;
    /* Add padding to create space between the content and the border */
}

.title {
    text-align: center;
    font-size: 40px;

}

.article {
    border-radius: 3px;
    border: 3px;
}

.others {
    width: 30%;
    text-align: right;
    position: absolute;
    top: 0;
    padding-top: 5%;
}

@font-face {
    font-family: 'CustomFont';
    /* Provide a name for your custom font */
    src: url('Amagro.ttf') format('ttf'),
        /* Specify the path to your font file */
        url('Amagro.ttf') format('ttf');
    /* Add additional font formats if available */
    /* Add more font-face properties if needed, such as font-weight and font-style */
}

body {
    font-family: 'CustomFont', Arial, Helvetica;
}