.title-text-holder{
    position: fixed;

    width: 80%;
    justify-self: center;

    font-size: 2em;
    margin-top: -50px;

    z-index: 10;
}
.title-text{
    width: fit-content;
    background-color: rgb(30, 30, 46);
    box-shadow: 0px 0px 5px 5px rgb(30, 30, 46);

    padding-left: 20px;
    padding-right: 20px;

    border-radius: 1000px;
}

.thumbnail{
    justify-self: center;
    width: 800px;

    margin-top: 60px;
    border-radius: 6px;

    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.363);
    margin-bottom: 50px;
}

.text-thumbnail-container{
    margin-top: 150px;
    width: 100%;
    display: grid;
}

.project-text{
    line-height: 30px;
    word-spacing: -1px;
    border-radius: 7px;
    text-align: justify;
    padding: 20px;
    margin-top: 13px;

    height: fit-content;
    background-color: rgb(22, 22, 34);
    font-size: 20px;
}

.page-middle-offseter{
    width: 1000px;
    justify-self: center;
}

.content-image-holder{
    display: flex;
    justify-self: center;
    width: fit-content;
    padding: 22px;
}

.title-holder{
    margin-top: 100px;
    justify-self: baseline;
}

.sub-title{
    margin: 0px;
}

.content-image{
    width: 100%;
}

@media (max-width: 1000px) {
    .title-text {
        justify-self: center;
    }
    .thumbnail {
        width: 80%;
    }
}

@media (max-width: 1100px) {
    .content-image-holder,
    .page-middle-offseter {
        width: 80%;
    }
    .thumbnail {
        width: 70%;
    }
}